.App {
  text-align: center;
  background-color: #b9e4e4;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.grad-photo {
  width: 240px;
  border: 3px solid#0c0c08; 
  position: fixed;
  left: 50px;
  top: 70px;
  max-width: 100%;
  height: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color:  #b9e4e4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.git {
  height: 35px;
  width: 100px;
  animation-name: social-links;
  animation-duration: 1.8s;
}

.linked {
  height: 35px;
  width: 45px;
  animation-name: social-links;
  animation-duration: 1.8s;
  animation-delay: .9s;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes social-links {
  0% {
    transform: scale(1)
  }
  50% {
    transform: scale(1.5)
  }
  100% {
    transform: scale(1)
  }
}
